:root {
    --blue: hsla(227, 92%, 58%, 1);
    --borders: hsla(200, 24%, 88%, 1);
    --dark-electric-blue: hsla(215, 17%, 44%, 1);
    --gunmetal: hsla(215, 31%, 21%, 1);
    --pure-white: hsla(0, 0%, 100%, 1);
    --azure: hsla(183, 95%, 92%, 0);
    --light-azure: hsla(216, 95%, 92%, 1);
}
